.app{
  /* background-color: black; */
  width: 1500px;
  /* margin-left: -100px; */
  margin-top: 10px;
}
.main{
  width: 900px;
  /* height: 1900px; */
  /* margin-top: -30px; */
  background-color: white;
}
.left{
  width:300px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

